
<IfModule mod_rewrite.c>

  RewriteEngine on

  RewriteCond %{ENV:REDIRECT_STATUS} ^$
  RewriteCond %{THE_REQUEST} !^GET.*/public [NC]
  RewriteCond %{REQUEST_URI} !\.(css|js|jpg|png|jpeg|webp|svg|gif|pdf|eot|otf|woff|woff2|ttf)$ [NC] 

  RewriteRule ^(.*)$ /index.php [R=301,L]

</IfModule>

ErrorDocument 404 /public/page-introuvable
